/* ------------ Google Fonts ------------ */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Lato", sans-serif;
}

/* ----------- HEADER ----------- */

.header {
  position: relative;
  margin: 10px 10px 0;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  text-wrap: balance;
  z-index: 20;
}

.header__subTitle {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.header__openMenu {
  position: relative;
  width: 22px;
  height: 22px;
  background-image: url(./img/openMenu.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 20;
  /* transition: opacity 0.4s; */
}

.header__openMenu::after {
  position: absolute;
  content: "Menú";
  font-size: 17px;
  color: #000;
  top: 2px;
  left: 25px;
}

.header__closeMenu {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(./img/closeMenu.svg);
  background-repeat: no-repeat;
  background-size: 27px;
  transform: translateX(-32px);
  top: 29px;
  opacity: 0;
  transition: opacity transform 0.4s;
  z-index: 10;
}

.header__closeMenu::after {
  position: absolute;
  content: "Menú";
  font-size: 17px;
  color: #000;
  top: 3px;
  left: 25px;
}

.header__nav {
  position: absolute;
  background-color: #dadada;
  width: 100%;
  padding: 10px 20px 10px 20px;
  /* top: -154px; */
  transform: translateY(-258px);
  left: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.8s;
}

.header__items {
  margin: 5px 0;
  padding: 5px 0;
}

.header__items:hover {
  background-color: rgba(197, 194, 194, 0.5);
}

.header__links {
  color: #000;
  font-weight: bold;
}

.header__socialNetwork {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  z-index: 20;
}

.header__linkSn {
  width: 20px;
  height: 20px;
}

.header__twitter {
  width: 18px;
  height: 18px;
}

/* ----------- BANNER ----------- */
.banner__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* ----------- CLASES UTILIZADAS DESDE JAVASCRIPT ----------- */
.mostrar-nav {
  transform: translateY(7px);
  opacity: 1;
  transition: opacity 0.8s;
}

.mostrar-btn {
  transform: translateX(0px);
  top: 30px;
  opacity: 1;
  transition: opacity 0.4s;
}

.ocultar-btn {
  opacity: 0;
  transition: opacity 0.4s;
}
