/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --text1: #fff;
  --text2: #a7fffc;
  --black: #000;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-image: url(img/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* ------------ HEADER ------------ */

.header {
  position: relative;
  padding: 20px 20px 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img1 {
  max-width: 80px;
}

.header__img2 {
  max-width: 110px;
}

.header__openMenu {
  position: absolute;
  width: 37px;
  height: 37px;
  background-image: url(img/openMenu.svg);
  background-repeat: no-repeat;
  background-size: 37px;
  cursor: pointer;
  top: 79px;
  left: 20px;
}

.header__openMenu::after {
  position: absolute;
  content: "Menú";
  display: inline-block;
  color: var(--text1);
  top: 6px;
  left: 39px;
  font-size: 19px;
  font-weight: 300;
}

.header__closeMenu {
  position: absolute;
  width: 39px;
  height: 39px;
  background-image: url(img/closeMenu.svg);
  background-repeat: no-repeat;
  background-size: 39px;
  opacity: 0;
  cursor: pointer;
  left: -86px;
  top: 79px;
  /* transition: all 0.8s; */
}

.header__closeMenu::after {
  position: absolute;
  content: "Menú";
  display: inline-block;
  color: var(--text1);
  top: 6px;
  left: 39px;
  font-size: 19px;
  font-weight: 300;
}

.header__nav {
  position: absolute;
  background-color: rgb(14, 24, 114);
  top: 120px;
  left: -300px;
  transition: all 0.8s;
  padding: 20px 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__items {
  padding: 10px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  cursor: pointer;
}

.header__items:hover {
  background-color: rgba(85, 96, 189, 0.65);
}

.header__items-1 {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.header__links {
  font-size: 20px;
  font-weight: 400;
  color: var(--text1);
}

/* ------------ SECTION ------------ */

.section {
  margin-top: 10px;
  padding: 30px 20px 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__title {
  text-align: center;
  font-weight: 900;
  font-size: 1.6rem;
  color: var(--text1);
  letter-spacing: 1px;
  line-height: 32px;
}

.section__title-span {
  font-weight: 900;
  font-size: 1.6rem;
  color: var(--text2);
}

.section__paragraph {
  color: var(--text1);
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
}

.section__link {
  color: var(--text2);
}

/* ------------ FOOTER ------------ */
.footer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__img1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(img/lines.png);
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.2;
}

.footer__img2 {
  width: 220px;
  height: 220px;
}

.footer__btnOpenDialog {
  position: fixed;
  bottom: 80px;
  right: 0;
}

.footer__btnAccessibility {
  position: fixed;
  bottom: 10px;
  right: 0;
}

/* ------------ FOOTER DIALOG - VENTANA MODAL ------------ */
.footer__dialog {
  min-width: 300px;
  max-width: 450px;
  background: #061066;
  border-radius: 20px;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border: none;
  overflow: visible;
}

.footer__dialog::backdrop {
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.5s;
}

.footer__containerDialog {
  position: relative;
  width: 100%;
  border: 1px solid #d19efb;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__titleDialog {
  text-transform: uppercase;
  font-weight: 900;
  color: var(--text1);
  margin: 35px 0;
}

.footer__btnCloseDialog {
  background: #061066;
  position: absolute;
  right: -25px;
  top: -30px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 3px solid #d19efb;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__btnCloseDialog:hover {
  background-color: var(--black);
}

.footer__btnCloseDialogImg {
  width: 31px;
  height: 31px;
}

.footer__paragraphDialog {
  color: var(--text1);
  text-align: center;
  /* letter-spacing: 1px; */
  line-height: 20px;
  padding: 0 14px;
}

.footer__paragraphDialog > a {
  color: var(--text2);
  font-weight: bold;
}

.footer__paragraphButton {
  margin: 40px 0 45px 0;
  background-color: #d79fff;
  background-image: linear-gradient(
    to right,
    #d79fff,
    #90a1ef,
    #90a1ef,
    #d79fff
  );
  box-shadow: 0 1px 16px 0 rgba(215, 159, 255, 0.6);
  background-size: 300% 100%;
  padding: 10px 25px;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 50px;
  color: #061066;
  transition: all 0.5s ease-in-out;
}

.footer__paragraphButton:hover {
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 5px 16px 0 rgba(215, 159, 255, 0.6);
}

/* ------------ FOOTER ACCESIBILITY  ------------ */

.footer__accesibility {
  position: fixed;
  top: 545px;
  left: 292px;
  border: none;
  background-color: transparent;
  transition: all 0.8s;
}

.footer__accesibility::backdrop {
  background-color: rgba(13, 32, 100, 0.7);
  transition: all 4s;
}

.footer__containerAccesibility {
  width: 42px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: all 0.8s;
  overflow: hidden;
}

.footer__itemAccesibility {
  width: 30px;
  height: 30px;
}

.footer__linkAccesibility {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background: #d79fff;
  background: linear-gradient(
    90deg,
    rgb(215, 159, 255) 0%,
    rgb(144, 161, 239) 100%
  );

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__linkAccesibility:hover {
  transform: scale(1.1, 1.1);
}

/* ------------ CLASES QUE SE UTILIZAN CON JAVASCRIPT ------------ */
/* Muestra el menu */
.mostrar-menu {
  left: 0px;
  transition: all 0.8s;
}

.ocultar {
  opacity: 0;
  transition: opacity 0.8s;
}

.mostrar {
  opacity: 1;
  transition: opacity 0.8s;
  left: 20px;
  top: 79px;
}

.transladar__arriba {
  top: 278px;
  left: 292px;
  transition: top 0.8s;
}

/* ------------ MEDIA QUERIES ------------ */
@media (min-width: 768px) {
  /* ------------ HEADER MEDIA QUERIE ------------ */
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
  }
  .header__img1 {
    min-width: 100px;
    order: 1;
  }
  .header__img2 {
    min-width: 150px;
    order: 3;
  }
  .header__openMenu {
    display: none;
  }
  .header__closeMenu {
    display: none;
  }
  .header__nav {
    position: static;
    background-color: unset;
    transition: unset;
    padding: 0;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    order: 2;
  }
  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .header__items {
    padding: 0;
    border-bottom: unset;
    cursor: unset;
    text-align: center;
  }
  .header__items:hover {
    background-color: unset;
  }
  .header__items-1 {
    border-top: unset;
  }
  .header__links {
    font-size: 16px;
    font-weight: 400;
    color: var(--text1);
  }
  .header__links:hover {
    border-bottom: 1px solid #e3e3e3;
    color: #e3e3e3;
  }

  /* ------------ SECTION MEDIA QUERIE ------------ */

  .section {
    padding: 30px 20px 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section__title {
    text-align: center;
    font-weight: 900;
    font-size: 2.1rem;
    color: var(--text1);
    letter-spacing: 1px;
    line-height: 32px;
  }

  .section__title-span {
    font-weight: 900;
    font-size: 2.1 rem;
    color: var(--text2);
  }

  .section__paragraph {
    color: var(--text1);
    margin-top: 30px;
    font-size: 19px;
    font-weight: 400;
  }

  .section__link {
    color: var(--text2);
  }

  /* ------------ FOOTER DIALOG - VENTANA MODAL ------------ */

  .footer__titleDialog {
    font-weight: bold;
    font-size: 28px;
  }
  .footer__paragraphDialog {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    text-align: center;
  }
  .footer__paragraphButton {
    padding: 10px 45px;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 30px 120px 30px 125px;
  }
}
