/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-image: url(img/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.header {
  position: relative;
  padding: 20px 20px 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__img1 {
  max-width: 80px;
}

.header__img2 {
  max-width: 110px;
}

.header__openMenu {
  position: absolute;
  width: 37px;
  height: 37px;
  background-image: url(img/openMenu.svg);
  background-repeat: no-repeat;
  background-size: 37px;
  cursor: pointer;
  top: 79px;
  left: 20px;
}

.header__openMenu::after {
  position: absolute;
  content: "Menú";
  display: inline-block;
  color: #fff;
  top: 6px;
  left: 39px;
  font-size: 19px;
  font-weight: 300;
}

.header__closeMenu {
  position: absolute;
  width: 39px;
  height: 39px;
  background-image: url(img/closeMenu.svg);
  background-repeat: no-repeat;
  background-size: 39px;
  opacity: 0;
  cursor: pointer;
  left: -86px;
  top: 79px;
  /* transition: all 0.8s; */
}

.header__closeMenu::after {
  position: absolute;
  content: "Menú";
  display: inline-block;
  color: #fff;
  top: 6px;
  left: 39px;
  font-size: 19px;
  font-weight: 300;
}

.header__nav {
  position: absolute;
  background-color: rgba(6, 16, 102, 0.65);
  top: 120px;
  left: -300px;
  transition: all 0.8s;
  padding: 20px 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header__items {
  padding: 10px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  cursor: pointer;
}

.header__items:hover {
  background-color: rgba(85, 96, 189, 0.65);
}

.header__items-1 {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.header__links {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

/* ------------ CLASES QUE SE UTILIZAN CON JAVASCRIPT ------------ */
/* Muestra el menu */
.mostrar-menu {
  left: 0px;
  transition: all 0.8s;
}

.ocultar {
  opacity: 0;
  transition: opacity 0.8s;
}

.mostrar {
  opacity: 1;
  transition: opacity 0.8s;
  left: 20px;
  top: 79px;
}

/* ------------ MEDIA QUERIES ------------ */
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
  }
  .header__img1 {
    min-width: 100px;
    order: 1;
  }
  .header__img2 {
    min-width: 150px;
    order: 3;
  }
  .header__openMenu {
    display: none;
  }
  .header__closeMenu {
    display: none;
  }
  .header__nav {
    position: static;
    background-color: unset;
    transition: unset;
    padding: 0;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    order: 2;
  }
  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .header__items {
    padding: 0;
    border-bottom: unset;
    cursor: unset;
    text-align: center;
  }
  .header__items:hover {
    background-color: unset;
  }
  .header__items-1 {
    border-top: unset;
  }
  .header__links {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  .header__links:hover {
    border-bottom: 1px solid #e3e3e3;
    color: #e3e3e3;
  }
}
